.form{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}
.part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    border-left: 2px solid #808080;
    border-right: 2px solid #808080;
}
.done{
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}
.cannotSubmit{
    border-left: 2px solid #ff6464;
    border-right: 2px solid #ff6464;
}
.canSubmit{
    border-left: 2px solid #64ff92;
    border-right: 2px solid #64ff92;
}
.descInput{
    background-color: #332f8e;
    outline: none;
    width: 150px;
    height: 65px;
    box-shadow: none;
    text-shadow: none;
    border: none;
    &:hover{
        border-color: #646cff;
    }
    font-size: 17px;
}
.submitButton{
    outline: none;
    width: 150px;
    height: 120px;
    box-shadow: none;
    text-shadow: none;
    border: none;
    border-radius: 0px;
    &:hover{
        border-color: #646cff;
    }
}