
.previewContainer{
    display: flex;
    flex-direction: column;
    border: solid #646cff;
    gap: 2px;
    width: 200px;
    height: 270px;
}
.seshTitle{
    padding: 0px;
    margin: 10px;
}
.hostingButton{
    border-radius: 0px;
    cursor:default;
    &:hover{
        background-color: #1a1a1a;
        border-color: #1a1a1a;
        cursor:default;
    }
}
.previewContainer p{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.sessions{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    gap: 15px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    padding-top: 20px;
    
}

.BrowsePage {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: 87%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.searchContainer{
    position: relative;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}
.searchButton{
    height: 50px;
}
.title{
    position: absolute;
    left: 600px;
    top: -30px;
}

form button{
    border-radius: 0px;
    height: 40px;
    &:hover{
        background-color: #646cff
    }
}
form input{
    position: relative;
    background-color: #332f8e;
    top: -0.5px;
    outline: none;
    width: 150px;
    height: 48px;
    box-shadow: none;
    text-shadow: none;
    border-top: solid #1a1a1a 2px;
    border-right: solid 2px #1a1a1a;
    border-top: none;
    border-left: none;
    border-bottom: none;
    font-size: 17px;
}
