.Header{
    position:absolute;
    top: 0;
    z-index: 0;
    background-color: #332f8e;
    width: 100vw;
    left: 0;
    right: 0;
}
.Footer{
    position:absolute;
    bottom: 0;
    z-index: 0;
    background-color: #332f8e;
    width: 100vw;
    left: 0;
    right: 0;
}
.fullContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
main{
    flex-grow: 1;
    overflow-y:visible;
}