.previewContainer{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    border: solid #646cff;
    gap: 2px;
    width: 400x;
    height: 400px;
    justify-content: center;
}
.seshTitle{
    padding: 0px;
    margin: 0px;
}
.hostEmail{
    color: #646cff;
}
p{
    padding-left: 10px;
    padding-right: 10px;
}
.fullContainer{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
