.bar{
    display: flex;
    flex-direction:row;
}
.authButtonContainer{
    position: absolute;
    right: 0;
}
.logo{
    height: inherit;
}
.homeButton{
    width: 50px;
    height: 50px;
    padding: 0px;
    border-radius: 0px;
    border: 0px;
}
.headerButton{
    border-radius: 0px;
    text-align: center;
    width: 70px;
    height: 50px;
    padding: 0;
}