.bar{
    display: flex;
    flex-direction:row;
}
.authButtonContainer{
    position: absolute;
    right: 0;
}
.homeButton{
    border-radius: 0px;
    text-align: center;
    width: 70px;
    height: 50px;
    padding: 0;
}