.bar{
    display: flex;
    flex-direction:row;
}
.rightContainer{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
}
.logo{
    height: inherit;
}
.homeButton{
    width: 50px;
    height: 50px;
    padding: 0px;
    border-radius: 0px;
    border: 0px;
}
p{
    margin-bottom: 0;
    margin-top: 12px;
    padding-right: 30px;
}
.headerButton{
    border-radius: 0px;
    text-align: center;
    width: 70px;
    height: 50px;
    padding: 0;
}